    /*
    Flaticon icon font: Flaticon
    Creation date: 12/09/2020 10:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-id-card:before { content: "\f100"; }
.flaticon-mortarboard:before { content: "\f101"; }
.flaticon-java:before { content: "\f102"; }
.flaticon-python-language-logotype:before { content: "\f103"; }
.flaticon-server:before { content: "\f104"; }
.flaticon-suitcase:before { content: "\f105"; }
.flaticon-university-building:before { content: "\f106"; }
.flaticon-school:before { content: "\f107"; }
.flaticon-logical-thinking:before { content: "\f108"; }
.flaticon-cpp-icon-file-format:before { content: "\f109"; }
.flaticon-structured-data:before { content: "\f10a"; }
.flaticon-neural:before { content: "\f10b"; }
.flaticon-science:before { content: "\f10c"; }
.flaticon-seo:before { content: "\f10d"; }
.flaticon-certificate:before { content: "\f10e"; }
.flaticon-badge:before { content: "\f10f"; }
.flaticon-project-management:before { content: "\f110"; }
    
    $font-Flaticon-id-card: "\f100";
    $font-Flaticon-mortarboard: "\f101";
    $font-Flaticon-java: "\f102";
    $font-Flaticon-python-language-logotype: "\f103";
    $font-Flaticon-server: "\f104";
    $font-Flaticon-suitcase: "\f105";
    $font-Flaticon-university-building: "\f106";
    $font-Flaticon-school: "\f107";
    $font-Flaticon-logical-thinking: "\f108";
    $font-Flaticon-cpp-icon-file-format: "\f109";
    $font-Flaticon-structured-data: "\f10a";
    $font-Flaticon-neural: "\f10b";
    $font-Flaticon-science: "\f10c";
    $font-Flaticon-seo: "\f10d";
    $font-Flaticon-certificate: "\f10e";
    $font-Flaticon-badge: "\f10f";
    $font-Flaticon-project-management: "\f110";